.hdrImg{
	width: 330px;
	height: 49px;
	top: 50px;
}

.navbar{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 0px !important; 
	background-color: #fff !important;
	border: 0px !important;
}

.navbar-header{
	margin-left: 50px !important;
}

.scrolled{
	position: fixed !important;
	z-index: 999;
	top:0;
	margin-top: 0px !important;
	border-bottom:1px solid #dbdcde !important;
}