<ul class="nav navbar-nav category-list">
    <li class="mainCat" data-ng-repeat="category in categoryMenu.categories" ng-click="categoryMenu.getCategory(category)" data-ng-if="category.id!==0" uib-popover-template="'views/subcategories.html'" popover-is-open="category.open" data-ng-mouseenter="categoryMenu.catHover(category)" data-ng-mouseleave="categoryMenu.catLeave(category)" popover-placement="bottom">
        <a href="" data-id={{category.link}} class="separator" data-index={{$index}} data-ng-class="{'last-item':$index===categoryMenu.categories.length-1}" style="outline:none">
          <span>{{category.name|uppercase}}</span>
      </a>
    </li>
</ul>
