<footer>
	<div class="row ftrBox">
		<div style="padding-left:130px" class="col-md-9">
			<ul class="texCenter">
				<li class="ftrLnk"><a class="ftrFnt">Privacy Policy</a></li>
				<li class="ftrLnk"><a class="ftrFnt">Terms of Use</a></li>
				<li class="ftrLnk"><a class="ftrFnt">Disclaimers</a></li>
				<li class="ftrLnk"><a class="ftrFnt">Newsletter</a></li>
				<li class="ftrLnk"><a class="ftrFnt">Carequality</a></li>
				<li class="ftrLnk"><a class="ftrFnt">Contact Us</a></li>
			</ul>
			<p class="ftrCpy texCenter">© Copyright 2016 athenahealth, Inc. All Rights Reserved</p>
		</div>
		<div style="padding-right:110px" class="col-md-3">
			<img class="ftrImg" src="assets/images/AhLogo.svg"/>
		</div>
	</div>
</footer>