<div class="main">
	<p class="text-align:center">
		Data used in this tool is solely based upon historical data from athenahealth clients as well as third-party research. The results displayed by this tool do not guarantee any results for you or other individual practices. Actual results will substantially vary from practice to practice. By using the calculator above, you hereby agree to the Terms & Conditions
	</p>
	<div style="margin:50px auto" class="row">
		<div style="color: #0F4B91;"" class="col-md-6">
			<p style="font-size:36px">Opportunities for students & recent grands</p>
			<p class="text-align:center">
				
				{{currTxt}}
			</p>
			<div class="btnJob">
                <p class="jobLnk">
                    View job openings
                    <span class="glyphicon glyphicon-chevron-right"></span>  
                </p>
            </div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<!-- <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
		      	<uib-slide ng-repeat="slide in slides" active="slide.active">
		        	<img style="width:100%" ng-src="{{slide.image}}" style="margin:auto;">
			        <div class="carousel-caption" ng-init="init(slide.text, $index)">
			          <h4>Slide {{$index}}</h4>
			          <p>{{slide.text}}</p>
			        </div>
		        </uib-slide>
		    </uib-carousel> -->
		    <img style="width:100%" ng-src="{{image}}" style="margin:auto;">
		</div>
	</div>
	<div>
		<div style="text-align:center">
			<input type="radio" ng-model="radio" value="one" ng-click="changed(0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" ng-model="radio" value="two" ng-click="changed(1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" ng-model="radio" value="three" ng-click="changed(2)">
		</div>
	</div>
	<div class="image_row">
		<div class="image">
			<img src="assets/images/stephanie_ellis_austin_rec.png"/>
			<span>
				<h4>Product Innovation</h4>
				<span>Anith Gupta</span><br>
				<span>Product Innovatio Manager</span>
			</span>
		</div>
		<div class="image">
			<img src="assets/images/james_dantzler_atlanta_rec.png"/>
			<span>
				<h4>Product Innovation</h4>
				<span>Anith Gupta</span><br>
				<span>Product Innovatio Manager</span>
			</span>
		</div>
		<div class="image">
			<img src="assets/images/ligmie_preval_wat.png"/>
			<span>
				<h4>Product Innovation</h4>
				<span>Anith Gupta</span><br>
				<span>Product Innovatio Manager</span>
			</span>
		</div>
		<div class="image">
			<img src="assets/images/greg-joondeph_breidbart_wat.png"/>
			<span>
				<h4>Product Innovation</h4>
				<span>Anith Gupta</span><br>
				<span>Product Innovatio Manager</span>
			</span>
		</div>
	</div>
	<!-- <div class="row image_row">
		<div class="col-md-4 col-sm-12 image">
			<img src="assets/images/stephanie_ellis_austin_rec.png"/>
			<span>
				<h2>abhi's kabali<
			</span>
		</div>
		<div class="col-md-4 col-sm-12 image">
			<img src="assets/images/stephanie_ellis_austin_rec.png"/>
			<span>
				<h2>abhi's kabali<
			</span>
		</div>
		<div class="col-md-4 col-sm-12 image">
			<img src="assets/images/stephanie_ellis_austin_rec.png"/>
			<span>
				<h2>abhi's kabali<
			</span>
		</div>
		<div class="col-md-4 col-sm-12 image">
			<img src="assets/images/stephanie_ellis_austin_rec.png"/>
			<span>
				<h2>abhi's kabali<
			</span>
		</div>
	</div> -->
</div>

<div style="height: 305px">
    
</div>